
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">



<body>
    <div class="conteudo">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="perfil">
                    <div class="card card-perfil">
                        <div class="card-img-top-wrapper">
                            <img src="/assets/images/perfil.png" class="card-img-top" alt="Foto do Usuário">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Lucas Salvador Notaro</h2>
                            <p class="card-text">
                                <span>lucas.s&#64;outlook.com</span>
                            </p>
                        </div>
                    </div>
                    <ul class="perfil-opcoes">
                        <li><a href="#">Consultar Certificados</a></li>
                        <li><a href="#">Encerrar Conta</a></li>
                        <li><a href="#">Mensagens</a></li>
                    </ul>
                     <button [routerLink]="['/editar-perfil']" type="button" class="btn btn-primary">Editar Perfil</button>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="user-info">
                    <h1>Atualizar Informações</h1>
                    <form>
                        <div class="mb-3">
                            <label for="inputNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="inputNome" placeholder="Digite seu nome">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                            <label for="inputSenha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="inputSenha" placeholder="Digite sua senha">
                        </div>
                        <div class="mb-3">
                            <label for="inputConfSenha" class="form-label">Confirme a Senha</label>
                            <input type="password" class="form-control" id="inputConfSenha" placeholder="Confirme sua senha">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-md">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
                <div class="historico-cursos mt-5">
            <h2>Histórico de Cursos</h2>
            <div class="container">
                <div class="card">
                    <div class="card-img-top-wrapper">
                        <img src="assets/images/cursos/desenvolvimento-web.jpg" class="card-img-top" alt="Curso de Desenvolvimento Web">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Desenvolvimento Web</h3>
                        <p class="card-text">Concluído em: 01/01/2024</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-top-wrapper">
                        <img src="assets/images/cursos/desenvolvimento-apps.jpg" class="card-img-top" alt="Curso de Desenvolvimento de Apps">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Desenvolvimento de Apps</h3>
                        <p class="card-text">Concluído em: 15/02/2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBVu6wgJZOUPEnYBGe+4xlgGmjNs7jUAN7GkOd5BALb2Lpn4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-pZKq0O2+PnP8zfJ1926rdkM37i0Prc1z9z9t2FI5V8z8INp9a7/7ZzCsw5efbAaK" crossorigin="anonymous"></script>
</body>
