
<div class="conteudo">

  <div class="cursos">

    <div class="text-section">
      <h1>Conheça nossos principais cursos e se destaque no mercado de trabalho</h1>
    </div>



  <div class="container">

  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/desenvolvimento-web.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Paulo Sérgio Coelho</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button [routerLink]="['/curso-desenvolvimento-web']" type="button" class="btn" >Conheça o curso</button>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/desenvolvimento-apps.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento de Apps</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/python.png" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Python para Iniciantes</h2>
      <p class="card-text">
        <span>Prof. Júlio Santos</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button [routerLink]="['/curso-python-iniciante']" type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/php.png" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">PHP</h2>
      <p class="card-text">
        <span>Prof. Simas S. Filho</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/usabilidade.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Usabilidade e UX</h2>
      <p class="card-text">
        <span>Prof. Sandra S. Lima</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/react.png" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">React Native</h2>
      <p class="card-text">
        <span>Prof. Júlio Santos</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>

  </div>

  </div>

  </div>
