<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 half-screen order-md-1 image-container">
          <img src="/assets/images/contato/contato.png" class="img-fluid" alt="Imagem">
      </div>
      <div class="col-md-6 half-screen d-flex justify-content-center align-items-center order-md-2 form-container">
          <div class="col-md-10">
              <h1 class="text-center mb-4 margintit">ENTRE EM CONTATO</h1>
              <form>
                  <div class="secao">
                      <div class="mb-5">
                          <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                      </div>
                      <div class="mb-5">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Endereço de Email">
                      </div>
                      <div class="mb-5">
                          <input type="text" class="form-control" id="inputAssunto" placeholder="Assunto">
                      </div>
                      <div class="mb-5">
                          <textarea class="form-control" id="inputMensagem" rows="5" placeholder="Digite aqui sua mensagem"></textarea>
                      </div>
                  </div>
                  <div class="text-center secao">
                      <div class="mb-5">
                          <button type="submit" class="btn btn-secondary btn-md w-50">Enviar</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
