<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="conteudo">

  <div class="curso-executar">


<section class="cta-about">
  <div class="container">
    <h1>Desenvolvimento Web</h1>
  </div>
</section>

<section class="cursos-mvv">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-xl-8">
        <iframe width="100%" height="428" src="https://www.youtube.com/embed/EVsjW2ED9uk?si=UzQW5lVrRyPuICfT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-12 col-md-5 col-xl-4 col-mvv">
        <div class="col-mvv">
          <h2>Conteúdo do Curso</h2>
          <ul class="conteudo-curso">
            <li><strong>Módulo 1: Fundamentos da Web</strong></li>
            <li>
              <label>
                <input type="checkbox"> Introdução à World Wide Web e conceitos básicos
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> HTML (HyperText Markup Language) - Estrutura e semântica
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> CSS (Cascading Style Sheets) - Estilização e layout
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> JavaScript - Introdução e manipulação do DOM
              </label>
            </li>
          </ul>
          <ul class="conteudo-curso">
            <li><strong>Módulo 2: Desenvolvimento Front-end</strong></li>
            <li>
              <label>
                <input type="checkbox"> Frameworks e bibliotecas front-end
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Animações e interações do usuário com JavaScript
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Integração de APIs e serviços externos
              </label>
            </li>
          </ul>
          <ul class="conteudo-curso">
            <li><strong>Módulo 3: Desenvolvimento Back-end</strong></li>
            <li>
              <label>
                <input type="checkbox"> Introdução à programação do lado do servidor
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Linguagens de programação do lado do servidor
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Banco de dados e manipulação de dados
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Criação de APIs RESTful
              </label>
            </li>
          </ul>
          <ul class="conteudo-curso">
            <li><strong>Módulo 4: Segurança e Otimização</strong></li>
            <li>
              <label>
                <input type="checkbox"> Princípios de segurança web
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Otimização de desempenho do site e carregamento rápido
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> SEO (Search Engine Optimization)
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Testes e depuração
              </label>
            </li>
          </ul>
          <ul class="conteudo-curso">
            <li><strong>Módulo 5: Implantação e Gerenciamento de Projetos Web</strong></li>
            <li>
              <label>
                <input type="checkbox"> Hospedagem e gerenciamento de servidores web
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Gerenciamento de projetos e controle de versão
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Manutenção e atualização de sites e aplicativos
              </label>
            </li>
          </ul>
          <ul class="conteudo-curso">
            <li><strong>Módulo 6: Projetos Práticos</strong></li>
            <li>
              <label>
                <input type="checkbox"> Desenvolvimento de projetos web completos
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Trabalho em equipe e colaboração
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox"> Portfólio e boas práticas para busca de emprego
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>

