<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <div class="conteudo">
    <div class="curso-executar">
      <section class="cta-about">
        <div class="container">
          <h1>Python para Iniciantes</h1>
        </div>
      </section>

      <section class="cursos-mvv">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-7 col-xl-8">
              <iframe width="100%" height="428" src="https://www.youtube.com/embed/EVsjW2ED9uk?si=UzQW5lVrRyPuICfT"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-5 col-xl-4 col-mvv">
              <div class="col-mvv">
                <h2>Conteúdo do Curso</h2>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 1: Introdução ao Python</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> História e evolução do Python
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Instalação e configuração do ambiente de desenvolvimento
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Estrutura básica de um programa Python
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Tipos de dados e variáveis
                    </label>
                  </li>
                </ul>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 2: Estruturas de Controle</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> Operadores e expressões
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Estruturas condicionais (if, else, elif)
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Loops (for, while)
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Compreensões de listas e expressões geradoras
                    </label>
                  </li>
                </ul>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 3: Funções e Módulos</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> Definição e uso de funções
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Argumentos e parâmetros
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Importação de módulos e bibliotecas
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Introdução à programação orientada a objetos
                    </label>
                  </li>
                </ul>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 4: Manipulação de Dados</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> Listas, tuplas e dicionários
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Manipulação de arquivos (leitura e escrita)
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Uso de bibliotecas para manipulação de dados (pandas, numpy)
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Introdução ao tratamento de exceções
                    </label>
                  </li>
                </ul>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 5: Desenvolvimento de Aplicações</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> Automatização de tarefas com scripts Python
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Desenvolvimento de aplicações web com Flask
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Introdução ao Django
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Integração com bancos de dados
                    </label>
                  </li>
                </ul>
                <ul class="conteudo-curso">
                  <li><strong>Módulo 6: Projetos Práticos</strong></li>
                  <li>
                    <label>
                      <input type="checkbox"> Desenvolvimento de projetos Python completos
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Trabalho em equipe e colaboração
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox"> Apresentação de portfólio e melhores práticas para busca de emprego
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

