<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="conteudo">
  <div class="desenvolvimento">

    <section class="cta-curso">
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="cta">
            <h1>Python para Iniciantes</h1>
            <p>Descubra o curso de Python para Iniciantes e aprenda a programar com uma das linguagens mais versáteis e poderosas do mundo. Desenvolva habilidades essenciais para criar scripts, automatizar tarefas e construir aplicações robustas.</p>

            <div class="detalhes">
              <div class="detalhe">
                <img src="/assets/images/curso-desenvolvimento-view/icon-clock.png" alt="Imagem Ilustrativa">
                <p>35 horas para conclusão</p>
              </div>
              <div class="detalhe">
                <img src="/assets/images/curso-desenvolvimento-view/icon-people.png">
                <p>825 pessoas neste curso</p>
              </div>
              <div class="detalhe">
                <img src="/assets/images/curso-desenvolvimento-view/icon-medal-star.png">
                <p>Certificado de conclusão</p>
              </div>
              <div class="detalhe">
                <img src="/assets/images/curso-desenvolvimento-view/icon-star.png">
                <p>Avaliação média: 4,9</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card-container">

            <div class="card">
              <div class="card-img-top-wrapper">
                <img src="assets/images/cursos/python.png" class="card-img-top" alt="Imagem do Curso">
              </div>
              <div class="card-body">
                <h2 class="card-title">Python para Iniciantes</h2>
                <p class="card-text">
                  <span>Prof. Júlio Santos</span>
                  <span class="rating">
                    <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
                    <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
                    <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
                    <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
                    <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
                  </span>
                </p>
                <button [routerLink]="['/curso-python-iniciante-executar']" type="button" class="btn">Inscrever-se</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>

    <section class="ementa-curso">
      <div class="container">
        <div class="ementa">
          <h2>Ementa do curso</h2>
          <div class="row row-ementa">
            <div class="col-12 col-xl-6">
              <div class="modulo">
                <h3>Módulo 1: Introdução ao Python</h3>
                <ul>
                  <li>História e evolução do Python</li>
                  <li>Instalação e configuração do ambiente de desenvolvimento</li>
                  <li>Estrutura básica de um programa Python</li>
                  <li>Tipos de dados e variáveis</li>
                </ul>
              </div>
              <div class="modulo">
                <h3>Módulo 2: Estruturas de Controle</h3>
                <ul>
                  <li>Operadores e expressões</li>
                  <li>Estruturas condicionais (if, else, elif)</li>
                  <li>Loops (for, while)</li>
                  <li>Compreensões de listas e expressões geradoras</li>
                </ul>
              </div>
              <div class="modulo">
                <h3>Módulo 3: Funções e Módulos</h3>
                <ul>
                  <li>Definição e uso de funções</li>
                  <li>Argumentos e parâmetros</li>
                  <li>Importação de módulos e bibliotecas</li>
                  <li>Introdução à programação orientada a objetos</li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="modulo">
                <h3>Módulo 4: Manipulação de Dados</h3>
                <ul>
                  <li>Listas, tuplas e dicionários</li>
                  <li>Manipulação de arquivos (leitura e escrita)</li>
                  <li>Uso de bibliotecas para manipulação de dados (pandas, numpy)</li>
                  <li>Introdução ao tratamento de exceções</li>
                </ul>
              </div>
              <div class="modulo">
                <h3>Módulo 5: Desenvolvimento de Aplicações</h3>
                <ul>
                  <li>Automatização de tarefas com scripts Python</li>
                  <li>Desenvolvimento de aplicações web com Flask</li>
                  <li>Introdução ao Django</li>
                  <li>Integração com bancos de dados</li>
                </ul>
              </div>
              <div class="modulo">
                <h3>Módulo 6: Projetos Práticos</h3>
                <ul>
                  <li>Desenvolvimento de projetos Python completos</li>
                  <li>Trabalho em equipe e colaboração</li>
                  <li>Apresentação de portfólio e melhores práticas para busca de emprego</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
