
<div class="conteudo">

<div class="certificado">
  <div class="a"></div>

<div class="course-header">
  <div class="text-section">
    <h1>Cursos de programação <br><span>com aulas ao vivo</span></h1>
      <p>Aprenda técnicas, linguagens e estratégias em desenvolvimento de software</p>
      <p>Certificados reconhecidos e valorizados.</p>
      <button type="button" class="btnhome">Quero saber mais</button>
  </div>
  <div class="image-section">
      <img src="assets/images/home1.png" alt="Imagem de cursos">
  </div>
</div>


<div class="container">
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/desenvolvimento-web.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Paulo Sérgio Coelho</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/desenvolvimento-apps.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento de Apps</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>


  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/cursos/python.png" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Python para Iniciantes</h2>
      <p class="card-text">
        <span>Prof. Júlio Santos</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>



</div>

</div>

</div>
